

<div id="mySidenav" class="sidenav">
    <!-- <ul>
        <li>Home </li>
        <li>Dashboard </li>
        <li>Inbox </li>
        <li>Statistics </li>
    </ul> -->
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;IMPEKABLE</a>
  <a><i class="fa fa-home" aria-hidden=""></i>Home</a>
  <a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i>Dashboard</a>
  <a href="#"><i class="fa fa-envelope" aria-hidden="true"></i>Inbox</a>
  <a href="#"><i class="fa fa-shopping-bag" aria-hidden="true"></i>Products</a>
</div>
<div class="row">
    <div  class="col-lg-2">
<span style="font-size:30px;cursor:pointer" (click)="openNav()">&#9776; </span></div>
<div class="col-lg-8 search" >
<input type="text" class="form-control " placeholder="Search Transactions, Invoices or help">
</div>
<div class="col-lg-2 search pull-right">
    <a><i class="fa fa-bell" aria-hidden="true"></i> | John Doe <i class="fa fa-angle-down" aria-hidden="true"></i> </a>
    <img src="assets/Lavid Emes.png" class="rounded-circle image">
</div>
</div>




